* {
    padding: 0;
    margin: 0;
    text-align: center;
}
.heading {
    font-size:  48px;
    margin: 24px;
}
.btn {
    padding: 12px;
    border-radius: 9px;
    margin: 12px;
}
.container {
    max-width: 960px;
    max-height: 960px;
    display: flex;
    margin: auto;
    flex-direction: column;
    margin-bottom: 32px;
}
.line {
    max-width: 960px;
    display: flex;
    margin:0 auto;
    flex: initial;
}
.square {
    max-width: 13px;
    max-height: 13px;
    border: 1px solid grey;
    width: 13px;
    flex: initial;
    aspect-ratio: 1;
}
.black10 {
    background-color: black;
    opacity: 10%;
}
.black20 {
    background-color: black;
    opacity: 20%;
}
.black30 {
    background-color: black;
    opacity: 30%;
}
.black40 {
    background-color: black;
    opacity: 40%;
}
.black50 {
    background-color: black;
    opacity: 50%;
}
.black60 {
    background-color: black;
    opacity: 60%;
}
.black70 {
    background-color: black;
    opacity: 70%;
}
.black80 {
    background-color: black;
    opacity: 80%;
}
.black90 {
    background-color: black;
    opacity: 90%;
}
.fullblack {
    background-color: black;
}